body{
	background-image: linear-gradient(to bottom, silver,grey);
	margin:auto;
	border-style:groove;
	border-width:10px;
}
.hea{
	background-color:red;
	font-size:30px;}
table{	
	background-color:black;
	border-spacing: 5px;
	}
.he{
	background-color:blue;
	font-size:25px;}
td{
	color:yellow;
	padding:10px;
	font-size:22px;}
	